div.container
{
  height:100%;
  

  display:grid;
     
   margin: 0 auto;
  row-gap:20px;
  text-align: center;
}

div.container div.a
{
    height: 100%;
  width:100%;
  margin:auto;
  
  
}
div.container div.b
{
  width:200px;
  height: 100%;
  
   margin:auto;
}
@media (min-width:600px)
{
    .content{
               width: 1000px;
        
    }
}